{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Table Viewer</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <br>
    <h2><span><span>Ibrahima TRAORE -</span><span id="app_name">TEST-CONTAINER-APPLICATION</span>: <span id="category">SELLERS</span> </span></h2>
    <br>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>product</th>
                <!-- Ajoutez plus de colonnes au besoin -->
            </tr>
        </thead>
        <tbody>
            {% for row in table_sellers_data %}
            <tr>
                <td>{{ row.0 }}</td>
                <td>{{ row.1 }}</td>
                <td>{{ row.2 }}</td>
                <!-- Ajoutez plus de colonnes au besoin -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
